# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo

# -------------------------
# Virtual Environment
# -------------------------
.venv/
venv/
env/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Environment
# -------------------------
.env

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Cache
# -------------------------
.pytest_cache/
.mypy_cache/

# -------------------------
# Alembic
# -------------------------
alembic/__pycache__/

# -------------------------
# OS
# -------------------------
Thumbs.db
.DS_Store

# -------------------------
# Build
# -------------------------
build/
dist/
*.egg-info/

# -------------------------
# ZIP Backups
# -------------------------
*.zip

# -------------------------
# IDE
# -------------------------
.idea/

# -------------------------
# Python
# -------------------------
*.sqlite3
# Development Backups
*.backup-*
*.backup.html

